.login_container {
    display: flex;
    min-height: 100vh;
    width: 100%;
    
}
  

/* FORMS LOGIN  */

.login_forms_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    flex: 1;
    text-align: center;
    gap: 5.43vw;
  }
  
.login_forms {
    display: flex;
    flex-direction: column;
    gap: 4.5vh;
}
  
.login_forms label {
    text-align: left;
}
  
.texto_primeiro_acesso {
    font-size: 1.2rem;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 600;
    text-align: center;
    margin-top: 7.14vh;
    margin-bottom: 1.55vh;
}
  
.link_login {
    font-size: 1.2rem;
    text-decoration: none;
    color: #429ee0;
    font-weight: 600;
    font-family: "Source Sans 3", sans-serif;
    text-align: center;
}
  
  /* FORMS LOGIN  */
  
  /* -----------------------  */
  
  /* BACKGROUND LOGIN */
  
.background_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets/login_background.svg");
    background-repeat: no-repeat;
    padding: 2rem;
    color: #fff;
    flex: 2;
}
  
.background_login p {
    height: 90px;
    width: 521px;
    font-size: 2.2rem;
    font-weight: bold;
    font-family: "Source Serif Pro";
    text-align: center;
}
  
.background_login img {
    width: 500px;
    height: 426.67px;
}
  
  /* BACKGROUND LOGIN */
